h1 {
    color: red;
}

#home {
    text-align: center;
    border : 3px solid rgb(19, 189, 61);
}

#nav {
    text-align: center;
    background-color: rgb(41, 197, 211);
    height: 25px;
    padding-top: 5px;
    margin-bottom: 5px;
}

#nav a{
    margin: 8px 5px;
    text-decoration: none;
    color: white;
}

div:hover {
    background-color: lightblue;
}

#p2 {
    color: blueviolet;
}

#card {
    border: ;
    align-items: center;
    margin: 500px;
    margin-top: 20px;
}

#card-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

#card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#card-name {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 10px;
}

#card-gender {
    text-align: center;
}

#toggle-btn {
    align-items: center;
}